
.gridPeceras{
    display: grid;
    grid-gap: 1 px;
    max-width: 250px;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    border: solid 2px black;
    padding: 10px;
    margin: 10px;
    line-height: 130%;
    background-color: #98c0f3;
}

.gridCatPeces{
    display:grid;
    padding: 10px;
    grid-gap: 1 px;
    max-width: 250px;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    border: solid 2px black;
    padding: 10px;
    margin: 1px;
    line-height: 130%;
    background-color: cornsilk;
    & div{
        width: 55px;
        height:25px;
        background-color: cornsilk;
        
    }
  }