
.peceraFondo {
  
    padding-left: 100px;
    height:115vh;
    background-image: url(../images/pecera.jpg);
    background-repeat: no-repeat;
    background-size: contain;
}


@keyframes myEffect {
    0%{
        transform: scale(1);
    }

    25%{
        transform: scale(1.5);
    }

    50%{
        transform: scale(1);
        background-color: crimson;
    }

    75%{
        transform: scale(1.5);
    }
   /* 
    100%{
        transform: scale(1);
        background-color: darkgreen;
    } 
   */
}

.letreroAnimado{
    background-color: blue;
    color: cornsilk;
    transform: translate(400px,-100px);
    position: center;
    animation-name: myEffect;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in;
    animation-duration: 12s;
    animation-delay: 1s;
}


.descripPecera{
    color: rgb(14, 9, 12);
    background-color: rgb(204, 215, 236);

    /* AGREGO GRADIENTE 2-12-21 */
    background: rgb(144, 142, 177);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(61,125,117,0.938813025210084) 0%, rgba(0,254,255,1) 40%);    width: 300px;

    border: 5px solid green;
    padding: 30px;
    margin: 10px;
}

.container img{
    padding-bottom: 30px;
}

.container2 img{
    padding-bottom: 40px;
    max-height: 500px;
}

h2:hover {
    background-color: darkorange;
}
